/**
* Small icon style.
*/
.follow-links {
  display: flex;
}
.follow-link-wrapper {
  margin-right: 1em;
}
a.follow-link {
  display: block;
  height: 30px;
  line-height: 26px;
  background-position: 0 0;
  background-repeat: no-repeat;

  /* Used for hiding the text */
  text-indent: -9999em;
  white-space: normal;
  overflow: hidden;
  text-align: left;
  direction: ltr;

  background-color: var(--uw-gold-transparent);
  background-size: 60%;
  background-position: center center;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  padding: .5em;
}
a.follow-link-facebook {
  background-image: url(../../../assets/social-icons/facebook-f.svg);
}
a.follow-link-googleplus {
  background-image: url(../../../assets/social-icons/google-plus-g.svg);
}
a.follow-link-youtube {
  background-image: url(../../../assets/social-icons/youtube.svg);
}
a.follow-link-twitter {
  background-image: url(../../../assets/social-icons/twitter.svg);
}
a.follow-link-flickr {
  background-image: url(../../../assets/social-icons/flickr.svg);
}
a.follow-link-vimeo {
  background-image: url(../../../assets/social-icons/vimeo.svg);
}
a.follow-link-linkedin {
  background-image: url(../../../assets/social-icons/linkedin.svg);
}
a.follow-link-this-site {
  background-image: url(../../../assets/social-icons/feed.svg);
}
a.follow-link-instagram {
  background-image: url(../../../assets/social-icons/instagram.svg);
}
a.follow-link-pinterest {
  background-image: url(../../../assets/social-icons/pinterest.svg);
}
a.follow-link-newsletter {
  background-image: url(../../../assets/social-icons/newsletter.svg);
}
