/**
 * Component theming for webforms.
*/
.webform-client-form {
  margin-top: 2em;
}
.form-required {
  font-size: .7em;
  text-decoration: none;
}
fieldset {
  border: none;
  outline: none;
  padding: 0;
  margin: 1em 0;
}
legend {
  font-size: 1.1em;
  font-weight: normal;
  width: 100%
}
legend span {
    background: white;
    float: left;
    padding: .2em .5em .2em 0;
  }
legend:after {
    content: '';
    display: block;
    height: 2px;
    width: 50%;
    background: var(--uw-gold);
    display: block;
    margin-top: 1em;
    vertical-align: middle;
    float: left;

  }
label {
  font-weight: normal
}
label.option {
    font-size: .9em;
  }
fieldset.fieldset-invisible:hover > legend,
fieldset.fieldset-invisible > legend {
  font-weight: normal;
  font-size: 0.929em
}
fieldset.fieldset-invisible:hover > legend:after, fieldset.fieldset-invisible > legend:after {
    display: none;
  }
input[type='submit'],
.form-submit {
  border: none;
  cursor: pointer;
  outline: none;
}
