/*
 * Component CSS for galleries
 * Menu gallery field on Menu Type Landing page and Gallery paragraph type
 */
/*
 * Mixins - Classes created in common.css
 * @d8todo: remove this, use the classes instead
*/
.field-name-field-menu-gallery,
.paragraphs-item-gallery  {
  margin: calc(2 * var(--gutter-standard)) auto
}
.field-name-field-menu-gallery img, .paragraphs-item-gallery img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.field-name-field-menu-gallery  {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--gutter-standard) var(--responsive-padding);
}
@media all and (min-width: 767px) {
  .field-name-field-menu-gallery ul,
  .paragraphs-item-gallery .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--gutter-standard);
  }
}
@media all and (max-width: 767px) {
  .field-name-field-menu-gallery,
  .paragraphs-item-gallery .content {
    max-width: 24em;
    margin: 0 auto
  }
    .field-name-field-menu-gallery li,
    .field-name-field-menu-gallery figure,
    .paragraphs-item-gallery .content li,
    .paragraphs-item-gallery .content figure {
      margin-bottom: 1.5em
    }
      .field-name-field-menu-gallery li:last-child, .field-name-field-menu-gallery figure:last-child, .paragraphs-item-gallery .content li:last-child, .paragraphs-item-gallery .content figure:last-child {
        margin-bottom: 0;
      }
}
