/**
 * Component CSS for menu landing pages
 * @d8todo: Convert this page layout builder
*/
/*
 * Mixins - Classes created in common.css
 * @d8todo: remove this, use the classes instead
*/
.node-menu-type-landing-page.full .field-name-body {
  background: var(--uw-white);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--gutter-standard);
}
@media all and (max-width: 1200px) {
  .node-menu-type-landing-page.full  .field-name-body {
    margin-left: var(--responsive-padding);
    margin-right: var(--responsive-padding);
  }
}
.menu-links-wrapper {
  background: var(--uw-white);
  margin: var(--gutter-standard) auto
}
.menu-links-wrapper h2,
  .menu-links-wrapper .field-name-field-menu-links {
    padding: var(--gutter-standard);
  }
.menu-links-wrapper h2 {
    margin-bottom: -1em;
    text-align: center;
  }
.field-name-field-menu-links {
  padding-right: 0
}
.field-name-field-menu-links .button {
    display: block;
    padding: 1em;
  }
.field-name-field-menu-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media all and (min-width: 961px) {
  .menu-links-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gutter-standard);
    grid-template-rows: 3em auto
  }
    .menu-links-wrapper > h2 {
      margin-top: 0;
      width: 100%;
      grid-row: 1;
    }
    .menu-links-wrapper .field-name-field-menu-links {
      grid-row: 2;
    }
    .menu-links-wrapper .field-name-field-menu-image {
      grid-row: span 2;
    }
  .field-name-field-menu-links ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gutter-standard);
  }
}
@media all and (max-width: 960px) {
  .field-name-field-menu-links li {
    margin-bottom: 1em;
    text-align: center;
  }
  .field-name-field-menu-image {
    display: none;
  }
}
