/**
 * Component CSS for Content Section paragraphs
*/
 /*
 * Mixins - Classes created in common.css
 * @d8todo: remove this, use the classes instead
*/
 .paragraphs-item-content-section {
  background: var(--uw-white);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--gutter-standard);
  padding: var(--content-padding)
}
 .paragraphs-item-content-section .field-name-field-content-items ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--gutter-standard);
  }
 .field-name-body + .paragraphs-items .paragraphs-item-content-section {
  padding-top: 0;
 }
