/**
 * General paragraphs
*/
 /*
 * Mixins - Classes created in common.css
 * @d8todo: remove this, use the classes instead
*/
 /*
 * Image with text paragraph
*/
 .paragraphs-item-text-with-image {
  margin-bottom: var(--gutter-standard)
}
 .paragraphs-item-text-with-image .content {
    background: var(--white-transparent);
    padding: var(--gutter-standard);
    margin-top: calc(-1 * var(--gutter-standard));

    position: relative;
    z-index: 9;
  }
 .paragraphs-item-text-with-image .field-name-field-text h2 {
  margin-top: 0;
}
 .paragraphs-item-text-with-image .button:before {
  content: '';
  display: inline-block;
  height: .5em;
  width: .5em;
  border-right: 2px solid var(--uw-black);
  border-bottom: 2px solid var(--uw-black);
  transform: rotate(45deg);
  transform: rotate(-45deg);
  margin: 0 .7em 0 -.2em;
}
 @media all and (min-width: 50em) {
  .paragraphs-item-text-with-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: calc(2 * var(--gutter-standard)) 0;
  }
  .paragraphs-item-text-with-image .content {
    margin-left: calc(-1 * var(--gutter-standard));
  }
  .paragraphs-item-text-with-image img {
    object-fit: cover;
  }
  .paragraphs-item-text-with-image.image-pos--right .content {
    order: 0;
    margin-left: 0;
    margin-right: calc(-1 * var(--gutter-standard));
  }
  .paragraphs-item-text-with-image.image-pos--right .field-name-field-image {
    order: 1;
  }
}
 @media all and (max-width: 50em) {
  .paragraphs-item-text-with-image .content {
    margin-left: var(--gutter-standard);
  }
}
