/*
 * Mixins - Classes created in common.css
 * @d8todo: remove this, use the classes instead
*/

@media all and (min-width: 767px) {
  .uw-header--global .rmc-nav {
    display: none;
  }
}

.region-header .rmc-nav {

  color: white;
  background-color: var(--uw-black)
}

.region-header .rmc-nav .toggle-sub[aria-expanded=true]:before {

    content: '';

    display: inline-block;

    height: .5em;

    width: .5em;

    border-right: 2px solid var(--uw-white);

    border-bottom: 2px solid var(--uw-white);

    transform: rotate(45deg);
    transform: rotate(180deg);
  }

.region-header .rmc-nav .toggle-sub[aria-expanded=false]:before {
    transform: rotate(0deg);
  }
