/**
 * Content area layout
*/
/*
 * Mixins - Classes created in common.css
 * @d8todo: remove this, use the classes instead
*/
.node-uw-catering-home-page .field-name-body {
  padding: 0 var(--responsive-padding);
  margin-bottom: var(--gutter-standard);
}
.node-basic-page .field-name-body {
  padding: var(--content-padding);
}
.page-user .banner picture {
    display: block;
    max-height: 40vw;
    overflow: hidden;
}
.node-uw-catering-form.full,
.page-customerror .region-content,
.page-user .region-content {
  background: var(--uw-white);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--gutter-standard);
}
