/**
 * Footer
*/
/*
 * Mixins - Classes created in common.css
 * @d8todo: remove this, use the classes instead
*/
/* CTA Section */
.footer-upper-wrapper {
  background: var(--uw-black);
  color: var(--uw-white)
}
.footer-upper-wrapper a:not(.button) {
    color: var(--uw-gold);
  }
.footer-upper-wrapper a.button {
    background: var(--uw-gold);
  }
.footer-upper-wrapper a:not(.button):hover, .footer-upper-wrapper a:not(.button):focus {
    color: var(--uw-white);
  }
.footer-upper-wrapper a.button:hover, .footer-upper-wrapper a.button:focus {
    background: var(--uw-white);
  }
.region-footer-upper {
  /* There is an extra ../ here so this url will work with aggregation turned on */
  background: url(../../../assets/catering-icon.svg) right -1.2em no-repeat;
  background-size: 19em;
  max-width: var(--max-width);
  margin: 0 auto
}
.region-footer-upper .block {
    padding: calc(2 * var(--gutter-standard));
    padding-right: var(--responsive-padding);
    padding-left: var(--responsive-padding)
  }
.region-footer-upper .block h2 {
      margin: 0;
    }
@media all and (max-width: 450px) {
  .region-footer-upper {
    background: url(../../../assets/catering-icon-mobile.svg) 150% 3em no-repeat;
  }
}
/* Contact section */
.footer-contact {
  background: var(--uw-white);
  border-top: 1px solid var(--lt-grey);
  font-size: .8em;
  padding: var(--gutter-standard);
  padding-right: var(--responsive-padding);
  padding-left: var(--responsive-padding)
}
.footer-contact h2 {
    font-weight: normal;
  }
.footer-contact .uwaterloo-logo img {
  width: 18em;
}
@media all and (min-width: 768px) {
  .footer-contact .fixwidth,
  .footer-contact .region {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gutter-standard)}
  .footer-contact .region {
    grid-gap: 0 var(--gutter-standard)
  }
    .footer-contact .region .block-follow {
      grid-column: 2;
    }
  .footer .uwaterloo-logo {
    display: flex;
    justify-self: end;
  }
}
@media all and (max-width: 767px) {
  .footer-contact .block {
    margin-bottom: 1em;
  }
}
.footer-contact .block h3 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: .5em;
}
.region-footer-lower {
  max-width: var(--max-width);
  margin: 0 auto;
  font-size: .75em;
  padding: 1em var(--responsive-padding) 0;
}
