/**
 * Layout Styles
*/

/*
 * Mixins - Classes created in common.css
 * @d8todo: remove this, use the classes instead
*/

.site-menu a,
.site-menu a.active {
  display: inline-block;
  color: var(--uw-white);
  text-decoration: none;
}

/**
 * Desktop menu layout + dropdowns
*/

@media all and (min-width: 960px) {
  .site-menu {
    font-size: .9em
  }
    .site-menu a {
      border: none;
      padding: 0.7em .5em 1.7em;
    }
    .site-menu a:hover,
    .site-menu a:focus {
      color: var(--uw-gold);
    }
    .site-menu > .menu {
      display: flex;
      justify-content: space-between;
      font-size: 1.1em;
      text-align: center
    }
      .site-menu > .menu > li {
        flex: 1 0 auto;
      }
    .site-menu .expanded {
      position: relative;
    }
    .site-menu .toggle {
      cursor: pointer;
      display: inline-block
    }
      .site-menu .toggle:after {
        content: '';
        display: inline-block;
        height: .5em;
        width: .5em;
        border-right: 2px solid var(--uw-white);
        border-bottom: 2px solid var(--uw-white);
        transform: rotate(45deg);
        margin: -0.5em 0 0 0.6em;
        vertical-align: middle;
        transition: transform .3s, margin .1s;
      }
      .site-menu .toggle:hover:after, .site-menu .toggle:focus:after {
        border-color: var(--uw-gold);
      }
      .site-menu .toggle.open:after {
        transform: rotate(-135deg);
        margin-top: -.2em;
      }
      .site-menu .toggle.open + .menu {
        display: block;
      }
    .site-menu .expanded .menu {
      font-size: .85em;
      display: none;

      position: absolute;
      top: 4.7em;
      width: auto;
      min-width: 14em
    }
      .site-menu .expanded .menu a {
        background: var(--black-transparent);
        border-bottom: 1px solid var(--uw-white);
        display: block;
        padding: 1em 2em
      }
        .site-menu .expanded .menu a:hover, .site-menu .expanded .menu a:focus {
          background: var(--uw-gold);
          color: black;
        }
    .site-menu .expanded:hover .menu {
      display: block;
    }
}

/* Mobile menu */

@media all and (max-width: 959px) {
  .site-menu {
    display: none;
  }
  .rmc-nav {
    overflow: visible
  }
    .rmc-nav .rmc-nav__content-wrapper {
      top: 3.875rem;
    }
    .rmc-nav .rmc-nav__navigation-button {
      background: transparent;
      width: 4em;
      min-height: 3.875rem;
      position: absolute;
      top: -.5em;
      right: 0;
    }
}
