/**
 * CSS for Drupal admin stuff
 */

/*
 * Mixins - Classes created in common.css
 * @d8todo: remove this, use the classes instead
*/

.messages,
ul.tabs.primary {
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 2em;
}

ul.tabs.primary li a {
  color: var(--uw-black);
  display: inline-block;
  padding: .3em .5em
}