/**
 * Reset some Drupal defaults
*/
* {
  box-sizing: border-box;
}
ul.menu,
ul.menu li,
.item-list ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
figure {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.field .field-label {
  font-weight: 300;
}
/**
 * Base text styles
*/
body {
  font-family: var(--font-family-sans);
  font-size: calc(15px + 0.2vw);
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: .05em;

  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, blockquote, table, ul, ol, p {
  font-weight: 300;
  margin: 0 0 1.05rem;
}
h1 {
  font-size: 2.074em;
  line-height: 1.3;
  margin-top: 0;
}
h2 {font-size: 1.728em;}
h3 {font-size: 1.44em;}
h4 {font-size: 1.2em;}
@media all and (max-width: 767px) {
  h1 { font-size: 1.728em; }
  h2 { font-size: 1.44em; }
  h3 { font-size: 1.2em; }
  h4 { font-size: 1em; }
}
h2, h3 {
  font-weight: 300;
  line-height: 1.3;
}
a {
  color: var(--uw-black)
}
a:hover, a:focus {
    color: #4e4e4e;
  }
ol,
ul {
  padding-left: 1.3em
}
ol li, ul li {
   margin-bottom: .5em;
  }
.field-label-inline div {
    display: inline;
  }
.field-label-inline .field-label {
    font-weight: bold;
  }
