/**
 * Common classes
*/

/*
 * Mixins - Classes created in common.css
 * @d8todo: remove this, use the classes instead
*/

.fixwidth {
  max-width: var(--max-width);
  margin: 0 auto;
}

.display-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.display-list li {
    margin: 0;
  }

.inline-list li {
  display: inline-block;
  margin-right: 1em;
}

.contentwrapper,
.field-name-field-view-embed,
.not-front .node-basic-page .field-name-body {
  background: var(--uw-white);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--gutter-standard);
}

.not-front .node-basic-page .field-name-body {
  padding: var(--content-padding);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media all and (min-width: 960px) {
  .visually-hidden-desktop-tablet {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

@media all and (max-width: 959px) {
  .visually-hidden-mobile {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

.fineprint {
  font-size: .8em;
  font-style: italic;
}

/**
 * Image classes
*/

.image-left {
  float: left;
  margin: .5em .5em .5em 0;
}

.image-right {
  float: right;
  margin: .5em 0 .5em .5em;
}

/**
 * Buttons
*/

.button,
button,
input[type='submit'],
.form-submit {
  background: var(--uw-gold-transparent);
  color: var(--uw-black);

  display: inline-block;
  font-size: 1em;
  line-height: 1rem;
  padding: .7em 1em;
  text-decoration: none;
  white-space: nowrap;
}

.button:hover, .button:focus, button:hover, button:focus, input[type='submit']:hover, input[type='submit']:focus, .form-submit:hover, .form-submit:focus {
  color: var(--uw-black);
  background: var(--uw-gold);
}

/**
 * Grids
*/

.grid-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--gutter-standard);
}

.grid-3col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--gutter-standard);
}

@media all and (max-width: 768px) {
  .grid-2col,
  .grid-3col {
    grid-template-columns: 1fr;
  }
}
