/**
 * Print CSS
*/


/* Sitewide layout */


body {
  background: transparent;
  font-size: 14px;

  --lt-grey: rgba(200, 200, 200, 1);
}


.header {
  position: static;
}


.site-menu,
.rmc-nav,
.menu-nav {
  display: none;
}


.field-name-field-banner-image picture {
  height: 20%
}


.field-name-field-banner-image picture img {
    width: 100%;
  }


.page-title {
  margin-bottom: 0;
  top: 0;
}


.tabs {
  display: none;
}


.footer-upper-wrapper {
  border-top: 1px solid var(--lt-grey);
  background: transparent;
  color: var(--uw-black);
  padding-top: var(--gutter-standard)
}


.footer-upper-wrapper .block {
    padding-top: 0;
  }


/**
 * Menus
*/


.node-menu.full,
.node-menu.embedded {
  padding: var(--gutter-standard) 0;
}
