
/**
 * Page Banners
*/
.banner {
  max-width: var(--outer-max-width);
  margin: 0 auto;
  min-height: 14em;
}

/* Page titles and home page banner links */
.page-title,
.banner-link {
  background: rgba(255,255,255,0.8);
  display: block;
  padding: var(--gutter-standard) var(--content-padding);
  position: relative;
  top: -1.4em;
}
.page-title {
  display: inline-block;
  font-weight: 300;
  line-height: 1em;
  margin-bottom: -1.4em;
}
.node-type-menu-landing {
  & .page-title {
    max-width: var(--max-width);
  }
}

@media all and (max-width: 960px) {
  .page-title-wrapper {
    margin-bottom: -1em;
  }
  .page-title {
    line-height: 1.3;

    margin-left: var(--responsive-padding);
    margin-right: var(--responsive-padding);
  }
  .field-name-field-banner-image picture {
    display: block;
  }
}

/* Default banner on non-menu pages are shorter */

.node-uw-catering-form.banner .default-banner {
  max-height: 30vw;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Home page banners */
a.banner-link {
  text-decoration: none;
  font-size: 1.2em;
  color: var(--uw-black);
}

.field-name-field-home-banners {
  list-style: none;
  margin: 0;
  padding: 0;
  & .field-name-field-image {
    margin: 0;
  }
  & img {
    display: block;
    width: 100%;
  }
  & .banner-link {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 82%;
    padding: 1em;
  }
  & .banner-link:hover {
    background: #fff;
  }
}
@media all and (min-width: 960px)  {
  .field-name-field-home-banners ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    height: 85vh;
    margin-bottom: 4em;
    & li {
      display: grid;
      position: relative;
      & .paragraphs-item-banner-with-link,
      & .content,
      & figure,
      & picture {
        display: flex;
        height: 100%;
        width: 100%;
        min-height: 0;
      }
    }
    & img {
      object-fit: cover;
      object-position: center center;
      height: auto;
      width: 100%;
    }
    & .banner-link {
      height: 3.5em;
      position: absolute;
      bottom: -1.6em;
      left: 9%;
      top: auto;
      z-index: 16;
    }
  }
}
@media all and (max-width: 960px) {
  .field-name-field-home-banners {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 4em;
  }
}
