/*
 * Component CSS for galleries
 * Menu gallery field on Menu Type Landing page and Gallery paragraph type
 */
@import "../mixins.css";

.field-name-field-menu-gallery,
.paragraphs-item-gallery  {
  margin: calc(2 * var(--gutter-standard)) auto;
  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.field-name-field-menu-gallery  {
  @mixin fixwidth;
  padding: var(--gutter-standard) var(--responsive-padding);
}
@media all and (min-width: 767px) {
  .field-name-field-menu-gallery ul,
  .paragraphs-item-gallery .content {
    @mixin grid-3col;
  }
}
@media all and (max-width: 767px) {
  .field-name-field-menu-gallery,
  .paragraphs-item-gallery .content {
    max-width: 24em;
    margin: 0 auto;
    & li,
    & figure {
      margin-bottom: 1.5em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
