/**
 * Component CSS for menus
*/

@import "../mixins.css";

.node-menu.full,
.node-menu.embedded {
  @mixin contentwrapper;
  padding: var(--content-padding);
  position: relative;
}
@media all and (max-width: 767px) {
  .node-menu.full,
  .node-menu.embedded {
    padding: var(--responsive-padding);
  }
}

/*
 * Menu page nav
*/
.menu-nav {
  font-size: .9em;
  margin: var(--gutter-standard);
  text-align: center;
  & a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
  & .active {
    font-weight: 600;
  }
}

/* Styles with JS */

[aria-selected="true"].tabs__link {
  font-weight: bold;
}
[aria-hidden="true"].tabs__content {
  display: none;
}

/* Desktop layout */
@media all and (min-width: 960px) {
  .menu-select-label {
    @mixin visually-hidden;
  }
  .menu-nav {
    & li {
      display: inline;
      margin: 0 .4em;
    }
  }
}

/*
 * Menu content
*/
.node-menu .edit-link {
  font-size: .8em;
  text-decoration: none;

  background: #eee;
  padding: 0.4em 1em;
  position: absolute;
  right: 0;
  top: 0;

  &:matches(:hover,:focus) {
    background: #ddd;
    color: var(--uw-black);
  }
}
.node-menu.embedded > h2,
.node-menu .field-name-field-menu-info,
.node-menu .field-name-field-menu-price {
  text-align: center;
  margin: 0.1em 0;
}
.field-name-field-menu-info {
  font-size: .9em;
}
.field-name-field-menu-price .price-label {
  font-size: .9em;
  margin-left: .3em;
}

/* Section titles */
.field-name-field-menu-section-title {
  text-align: center;
  margin-top: 1.5em;
  font-size: 1.44em;
  line-height: 1.3;
  & .text-wrapper {
    display: inline-block;
    background: var(--uw-white);
    padding: .5em 1em;
    position: relative;
    z-index: 4;
  }
  &:before {
    background: var(--uw-gold);
    content: '';
    display: block;
    margin: 0 auto;

    width: 80%;
    height: 2px;
    position: relative;
    top: 1.2em;
  }
}

@media all and (max-width: 767px) {
  .field-name-field-menu-section-title {
    &:before {
      width: 95%;
    }
  }
}

/* Menu section in a two-column grid */
.paragraphs-items-field-menu-items {
  @mixin display-list;
  margin-bottom: var(--gutter-standard);
}

@media all and (min-width: 767px) {
  .paragraphs-items-field-menu-items {
    @mixin grid-2col;
    grid-gap: var(--gutter-standard) calc(2 * var(--gutter-standard));
    margin: 0;
  }
  .paragraphs-items-field-menu-items > .field-name-field-menu-items:first-child:last-child {
    grid-column: span 2;
  }
}
@media all and (max-width: 767px) {
  .field-name-field-menu-items {
      margin-bottom: 1em;
    }
}

/* Standard menu items */
.paragraphs-items-field-menu-sections > .paragraphs-item-menu-item {
  margin-bottom: 1em;
}
.field-name-field-menu-item-title {
  font-size: 1.2em;
  margin-bottom: 0;
}
.field-name-field-menu-item-desc {
  font-size: .8em;
  margin: 0;
  grid-column: span 2;
}

/* Dietary icons */
.field-name-field-menu-item-dietary {
  display: flex;
  margin-top: .3em;
}
.field-name-field-menu-item-dietary li {
  display: flex;
  align-items: center;
  margin-right: 1em;
  opacity: .6;
  font-size: .58em;
}
.dietary-icon svg {
  height: 25px;
  width: 25px;
  margin-right: .4em;
}
.dietary-icon--vegan svg {
  width: 16px;
}
.dietary-label {
  text-transform: uppercase;
}
/* Menu item with price */
.paragraphs-item-menu-item-price .content {
  margin: var(--gutter-standard) 0;
  & .field-name-field-menu-item-title {
    font-size: 1.2em;
    margin: 0;
    text-align: left;
  }
  & abbr {
    text-decoration: none;
  }
  & .field-name-field-menu-price {
    text-align: left;
    opacity: .6;
  }
}
@media all and (min-width: 767px) {
  .paragraphs-item-menu-item-price .content {
    display: grid;
    grid-gap: 0 var(--gutter-standard);
    grid-template-columns: auto 9em;
  }
}
.paragraphs-items-field-menu-options {
  font-size: .9em;
  grid-column: span 2;
  & .field-name-field-menu-options .content {
    grid-gap: 1em;
    justify-content: space-between;
    margin: .6em 3em;
    max-width: 30em;
  }
  & .field-name-field-menu-options:last-child .content {
    margin-bottom: 0;
  }
}

@media all and (max-width: 767px) {
  .paragraphs-item-menu-item-desc .field-name-field-menu-item-price {
    grid-column: span 2;
  }
}

/* Text */
.paragraphs-item-text .field-name-field-text {
  font-size: .9em;
}

/*
 * Teaser view mode & all Menus view
*/

.node-menu.node-teaser,
.node-menu-group.node-teaser {
  & a {
    text-decoration: none;
    &:matches(:hover,:focus) {
      text-decoration: underline;
    }
  }
  & strong {
    font-size: 1.2em;
    margin: .5em 0;
    text-align: left;
  }
  &.no-image {
    display: flex;
    flex-direction: column;
  }
  & .image-placeholder {
    background: url(../../../assets/catering-icon--black.svg) center center no-repeat #ddd;
    background-size: 80%;
    display: grid;
    flex: 1 0 auto;
  }
  & .field-name-field-banner-image {
    overflow: hidden;
    & img {
      display: block;
      transition: transform .2s;
    }
    &:matches(:hover,:focus) img {
      transform: scale(1.1);
    }
  }
}

@media all and (max-width: 767px) {
  .node-menu.node-teaser,
  .node-menu-group.node-teaser {
    margin-bottom: 1em;
  }
}
