/**
 * Component CSS for menu landing pages
 * @d8todo: Convert this page layout builder
*/
@import "../mixins.css";

.node-menu-type-landing-page.full .field-name-body {
  @mixin contentwrapper;
}

@media all and (max-width: 1200px) {
  .node-menu-type-landing-page.full  .field-name-body {
    margin-left: var(--responsive-padding);
    margin-right: var(--responsive-padding);
  }
}
.menu-links-wrapper {
  background: var(--uw-white);
  margin: var(--gutter-standard) auto;
  & h2,
  & .field-name-field-menu-links {
    padding: var(--gutter-standard);
  }
  & h2 {
    margin-bottom: -1em;
    text-align: center;
  }
}
.field-name-field-menu-links {
  padding-right: 0;
  & .button {
    display: block;
    padding: 1em;
  }
}
.field-name-field-menu-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media all and (min-width: 961px) {
  .menu-links-wrapper {
    @mixin grid-2col;
    grid-template-rows: 3em auto;
    & > h2 {
      margin-top: 0;
      width: 100%;
      grid-row: 1;
    }
    & .field-name-field-menu-links {
      grid-row: 2;
    }
    & .field-name-field-menu-image {
      grid-row: span 2;
    }
  }
  .field-name-field-menu-links ul {
    @mixin grid-2col;
  }
}
@media all and (max-width: 960px) {
  .field-name-field-menu-links li {
    margin-bottom: 1em;
    text-align: center;
  }
  .field-name-field-menu-image {
    display: none;
  }
}
