/**
 * Component CSS for Content Section paragraphs
*/
 @import "../mixins.css";


.paragraphs-item-content-section {
  @mixin contentwrapper;
  padding: var(--content-padding);
  & .field-name-field-content-items ul {
    @mixin grid-3col;
  }
}
.field-name-body + .paragraphs-items .paragraphs-item-content-section {
  padding-top: 0;
 }
