/**
 * Component CSS for People view
*/
.node-contact {
  & .field-name-field-contact-title {
    font-size: 1.1em;
    margin: 0;
  }
  & .field-name-field-contact-phone,
  & .field-name-field-contact-email-address {
    font-size: .8em;
    margin: 0;
    opacity: .7;
  }
  & .contact-info {
    display: flex;
    & p:first-child:after {
      content: '';
      display: inline-block;
      height: 0.7em;
      width: 0.7em;
      background-color: var(--uw-gold);
      margin: 0 .5em 0 .2em;
      vertical-align: middle;
    }
  }
}
.node-contact.node-teaser {
  & .contentwrapper {
    margin-left: 1.3em;
    margin-top: -2em;
    padding: 1.3em;
    position: relative;
    z-index: 2;
    width: calc(100% - 1.3em);

  }
  & h2 {
    font-size: 1.4em;
    margin: 0 0 0;
  }
}

.node-contact.contentwrapper {
  & .contact-details {
    font-size: .9em;
    & .contact-info {
      font-size: 1em;
    }
    & .field {
      margin-bottom: .5em;
    }
  }
}

@media all and (min-width: 767px) {
  .node-contact.contentwrapper {
    & .content {
      display: grid;
      grid-gap: var(--gutter-standard);
      grid-template-columns: 1fr 2fr;
    }
  }
}
