/**
 * Content area layout
*/
@import "../mixins.css";

.node-uw-catering-home-page .field-name-body {
  padding: 0 var(--responsive-padding);
  margin-bottom: var(--gutter-standard);
}
.node-basic-page .field-name-body {
  padding: var(--content-padding);
}
.page-user .banner picture {
    display: block;
    max-height: 40vw;
    overflow: hidden;
}
.node-uw-catering-form.full,
.page-customerror .region-content,
.page-user .region-content {
  @mixin contentwrapper;
}
