/**
 * Layout Styles
*/

@import "../mixins.css";

body {
  background: var(--lt-grey)
}

/*
 * Skip to content link
*/
.skip-links {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 25;
  & a {
    background: var(--uw-gold);
    font-size: .9em;
    padding: .2em .8em;
    text-decoration: none;
    &:matches(:focus,:hover) {
      background: white;
    }
  }
}


/*
 * Sitewide header
*/
.header {
  background: var(--black-transparent);
  color: var(--uw-white);
  position: fixed;
  width: 100%;
  z-index: 20;
}
.region-header {
  padding: 1em 0 0;
}
.logo img {
  background: var(--uw-white);
  box-shadow: 1px 1px 2px rgba(42,42,42,0.3);
  position: absolute;
}
@media all and (max-width: 960px) {
  .logo img {
    max-width: 150px;
  }
}

/**
 * Shrink header on scroll
*/
.header {
  transition: all .3s;
  & .logo  {
    & img {
      display: block;
      transition: width .3s, left .3s;
    }
    &:focus img {
      border: 1px solid var(--);
    }
  }
}
/**
 * Desktop layout
*/
@media all and (min-width: 960px) {
  .header .fixwidth {
    position: relative;
    max-width: var(--max-width);
  }
  .logo img {
    left: 0;
    width: 140px;
    height: auto;
    padding: 0 10px 5px;
    z-index: 10;
  }
  .block-responsive-menu-combined {
    display: none;
  }
  .header.shrink {
    font-size: .9em;
    & .logo img {
      width: 120px;
    }
    & .menu a {
      padding: 0.5em .5em 1.5em;
    }
    & .site-menu .expanded .open + .menu,
    & .site-menu .expanded:hover .menu,
    & .site-menu .expanded a:focus + .menu {
      top: 4.3em;
    }
  }
}

@media all and (min-width: 960px) and (max-width: 1500px) {
  .region-header {
    padding-left: 140px;
  }
}
@media all and (min-width: 1200px) and (max-width: 1500px) {
  .header .fixwidth {
    max-width: 100%;
    margin: 0;
  }
}
@media all and (min-width: 1500px) {
  .logo img {
    margin-left: -150px;
  }
}

/* Mobile layout */

@media all and (max-width: 959px) {
  .logo img {
    margin-left: var(--responsive-padding);
    width: 110px;
    z-index: 10;
  }
  .region-header {
    min-height: 4em;
    padding: .5em 0;
    position: relative;
  }
  .header.shrink {
    & .logo img {
      width: 90px;
    }
    & .region-header {
      padding: .5em 0;
    }
  }
}
@media all and (max-width: 400px) {
  .logo img {
    width: 90px;
  }
}
