/**
 * Layout Styles
*/

@import "../mixins.css";

.site-menu a,
.site-menu a.active {
  display: inline-block;
  color: var(--uw-white);
  text-decoration: none;
}

/**
 * Desktop menu layout + dropdowns
*/
@media all and (min-width: 960px) {
  .site-menu {
    font-size: .9em;
    & a {
      border: none;
      padding: 0.7em .5em 1.7em;
    }
    & a:hover,
    & a:focus {
      color: var(--uw-gold);
    }
    & > .menu {
      display: flex;
      justify-content: space-between;
      font-size: 1.1em;
      text-align: center;
      & > li {
        flex: 1 0 auto;
      }
    }
    & .expanded {
      position: relative;
    }
    & .toggle {
      cursor: pointer;
      display: inline-block;
      &:after {
        @mixin caret, .5em, var(--uw-white);
        margin: -0.5em 0 0 0.6em;
        vertical-align: middle;
        transition: transform .3s, margin .1s;
      }
      &:matches(:hover,:focus):after {
        border-color: var(--uw-gold);
      }
      &.open:after {
        transform: rotate(-135deg);
        margin-top: -.2em;
      }
      &.open + .menu {
        display: block;
      }
    }
    & .expanded .menu {
      font-size: .85em;
      display: none;

      position: absolute;
      top: 4.7em;
      width: auto;
      min-width: 14em;
      & a {
        background: var(--black-transparent);
        border-bottom: 1px solid var(--uw-white);
        display: block;
        padding: 1em 2em;
        &:matches(:hover,:focus) {
          background: var(--uw-gold);
          color: black;
        }
      }
    }
    & .expanded:hover .menu {
      display: block;
    }
  }
}


/* Mobile menu */

@media all and (max-width: 959px) {
  .site-menu {
    display: none;
  }
  .rmc-nav {
    overflow: visible;
    & .rmc-nav__content-wrapper {
      top: 3.875rem;
    }
    & .rmc-nav__navigation-button {
      background: transparent;
      width: 4em;
      min-height: 3.875rem;
      position: absolute;
      top: -.5em;
      right: 0;
    }
  }
}
