/**
 * CSS for Drupal admin stuff
 */

@import "mixins.css";
.messages,
ul.tabs.primary {
  @mixin fixwidth;
  margin-top: 2em;
}

ul.tabs.primary li a {
  color: var(--uw-black);
  display: inline-block;
  padding: .3em .5em
}