/**
 * Common classes
*/

@import "mixins.css";

.fixwidth {
  @mixin fixwidth;
}
.display-list {
  @mixin display-list;
}
.inline-list li {
  display: inline-block;
  margin-right: 1em;
}
.contentwrapper,
.field-name-field-view-embed,
.not-front .node-basic-page .field-name-body {
  @mixin contentwrapper;
}
.not-front .node-basic-page .field-name-body {
  padding: var(--content-padding);
}

.visually-hidden {
  @mixin visually-hidden;
}
@media all and (min-width: 960px) {
  .visually-hidden-desktop-tablet {
    @mixin visually-hidden;
  }
}
@media all and (max-width: 959px) {
  .visually-hidden-mobile {
    @mixin visually-hidden;
  }
}
.fineprint {
  font-size: .8em;
  font-style: italic;
}

/**
 * Image classes
*/

.image-left {
  float: left;
  margin: .5em .5em .5em 0;
}
.image-right {
  float: right;
  margin: .5em 0 .5em .5em;
}

/**
 * Buttons
*/
.button,
button,
input[type='submit'],
.form-submit {
  background: var(--uw-gold-transparent);
  color: var(--uw-black);

  display: inline-block;
  font-size: 1em;
  line-height: 1rem;
  padding: .7em 1em;
  text-decoration: none;
  white-space: nowrap;
}

.button:matches(:hover, :focus),
button:matches(:hover, :focus),
input[type='submit']:matches(:hover,:focus),
.form-submit:matches(:hover,:focus) {
  color: var(--uw-black);
  background: var(--uw-gold);
}

/**
 * Grids
*/
.grid-2col {
  @mixin grid-2col;
}
.grid-3col {
  @mixin grid-3col;
}
@media all and (max-width: 768px) {
  .grid-2col,
  .grid-3col {
    grid-template-columns: 1fr;
  }
}
