/*
 * Mixins - Classes created in common.css
 * @d8todo: remove this, use the classes instead
*/

@define-mixin fixwidth {
  max-width: var(--max-width);
  margin: 0 auto;
}
@define-mixin contentwrapper {
  background: var(--uw-white);
  @mixin fixwidth;
  padding: var(--gutter-standard);
}
@define-mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
@define-mixin display-list {
  list-style: none;
  margin: 0;
  padding: 0;
  & li {
    margin: 0;
  }
}
@define-mixin grid-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--gutter-standard);
}
@define-mixin grid-3col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--gutter-standard);
}
@define-mixin caret, $size: .8em, $color: var(--uw-black) {
  content: '';
  display: inline-block;
  height: $size;
  width: $size;
  border-right: 2px solid $color;
  border-bottom: 2px solid $color;
  transform: rotate(45deg);
}
