/**
 * Variables for Catering Services website
*/
/* Barlow is the falllback font  */
@import url('//fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@300&display=swap');

/*
 * Fonts
*/
@font-face {
  font-family: 'BureauGrotCond Book';
  src: url('/fonts/Bureau_Grot-Condensed_Book.eot');
  src: url('/fonts/Bureau_Grot-Condensed_Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Bureau_Grot-Condensed_Book.woff2') format('woff2'), url('../fonts/Bureau_Grot-Condensed_Book.woff') format('woff'), url('/fonts/Bureau_Grot-Condensed_Book.svg#Bureau_Grot-Condensed_Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BureauGrot Light';
  src: url('/fonts/BureauGrot-Light.eot');
  src: url('/fonts/Bureau_Grot-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/Bureau_Grot-Light.woff2') format('woff2'), url('../fonts/Bureau_Grot-Light.woff') format('woff'), url('../fonts/Bureau_Grot-Light.svg#Bureau_Grot-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
:root {
  --font-family-sans: 'BureauGrot Light', 'Barlow', sans-serif;
  --font-family-condensed: 'BureauGrotCond Book', 'Barlow Condensed', 'Arial Narrow', arial, sans-serif;
}

/*
 * Colours
*/
:root {
  --uw-black: #000000;
  --uw-gray: #757575;
  --uw-gold: #fdd54f;
  --uw-white: #ffffff;
  --lt-grey: rgb(232, 232, 232);
  --uw-gold-transparent: rgba(250, 184, 10, 0.34);
  --black-transparent: rgba(0,0,0,0.8);
  --white-transparent: rgba(255,255,255,0.9);
}
/**
 * Widths & spacing
*/
:root {
  --outer-max-width: 1500px;
  --max-width: 1200px;
  --gutter-standard: calc(1.6rem + 0.5vw);
  --content-padding: calc(1.5 * var(--gutter-standard));
  --responsive-padding: 0;
}
@media all and (max-width: 1200px) {
  :root {
    --responsive-padding: var(--gutter-standard);
  }
}
